.flxbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
  color: #fff;
}

.mainpgcontainer {
  width: 100%;
  height: 100vh;
  background-color: #fcfffd;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.startingContainer {
  width: 60%;
  min-height: 550px;
  -webkit-box-shadow: 4px 6px 7px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 4px 6px 7px 5px rgba(0, 0, 0, 0.19);
  background-color: #8497c2;
  opacity: 0.9;
}
.instraccotaier {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
.startconatiner {
  height: 150px;
  color: #000;
  font-size: 16px;
}
.btn {
  font-size: 30px;
  background-color: #fff;
  color: #e3548c;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
}
.testtitle {
  width: 98%;
  margin: 0px auto;
}
.quizOption {
  width: 50%;
}
.passstudent {
  font-size: 28px;
  color: green;
}
.failstudent {
  font-size: 28px;
  color: red;
}
@media screen and (max-width: 480px) {
  .startingContainer {
    width: 80%;
  }
  .testtitle > h1 {
    text-align: left;
    font-size: 1.5em;
  }
  .testtitle > .resulttitle {
    text-align: center;
  }
}
